/* Controller Image */
.controller_ps5_edge
.controllerconfiguratorsummary_BackgroundController_rlz-U {
    background-image: url("/themes_custom/SBP-PS5-to-Handheld/assets/Win4.svg");
}

/* GUIDE */
img[src="/steaminputglyphs/ps4_button_logo.svg"] {
    content: url("/themes_custom/SBP-PS5-to-Handheld/gpd-buttons/win4_menu.svg");
    width: 42px;
    height: auto;
    margin: -80% 0 -80% 0;
}

/* view */
img[src="/steaminputglyphs/ps5_button_create.svg"] {
    content: url("/themes_custom/SBP-PS5-to-Handheld/buttons/view.svg");
    transform: scale(0.96);
}

/* Menu */
img[src="/steaminputglyphs/ps5_button_options.svg"] {
    content: url("/themes_custom/SBP-PS5-to-Handheld/buttons/menu.svg");
    transform: scale(0.96);
}

/* Back buttons */
img[src="/steaminputglyphs/ps_lfn.svg"] {
    content: url("/themes_custom/SBP-PS5-to-Handheld/gpd-buttons/Win4-L4.svg");
    transform: scale(1.4);
}

img[src="/steaminputglyphs/ps_rfn.svg"] {
    content: url("/themes_custom/SBP-PS5-to-Handheld/gpd-buttons/Win4-R4.svg");
    transform: scale(1.4);
}