/* Controller Image */
.controller_ps5_edge
.controllerconfiguratorsummary_BackgroundController_rlz-U {
    background-image: url("/themes_custom/SBP-PS5-to-Handheld/assets/Win4.svg");
}

/* GUIDE */
img[src="/steaminputglyphs/ps4_button_logo.svg"] {
    content: url("/themes_custom/SBP-PS5-to-Handheld/gpd-buttons/win4_menu.svg");
    width: 42px;
    height: auto;
    margin: -80% 0 -80% 0;
}