/* Controller Image */
.controller_ps5 .controllerconfiguratorsummary_BackgroundController_rlz-U,
.controller_ps5_edge .controllerconfiguratorsummary_BackgroundController_rlz-U,
.controller_xboxelite .controllerconfiguratorsummary_BackgroundController_rlz-U,
.controller_generic .controllerconfiguratorsummary_BackgroundController_rlz-U {
    background-image: url("/themes_custom/SBP-PS5-to-Handheld/assets/gpd/Win3-Controller.png");
}

/* GUIDE */
/* img[src="/steaminputglyphs/ps4_button_logo.svg"] {
    content: url("/themes_custom/SBP-PS5-to-Handheld/assets/gpd/Win4-Menu.svg");
    width: 50px;
    height: auto;
    margin: -80% 8px -80% 0;
} */

/* view */
img[src="/steaminputglyphs/ps5_button_create.svg"] {
    content: url("/themes_custom/SBP-PS5-to-Handheld/assets/gpd/Win3-Select.svg");
    width: 30px;
    height: auto;
    margin: 0 8px;
}

/* Menu */
img[src="/steaminputglyphs/ps5_button_options.svg"] {
    content: url("/themes_custom/SBP-PS5-to-Handheld/assets/gpd/Win3-Start.svg");
    width: 30px;
    height: auto;
    margin: 0 8px;
}

/* Back buttons */
img[src="/steaminputglyphs/ps_lfn.svg"] {
    content: url("/themes_custom/SBP-PS5-to-Handheld/assets/gpd/Win3-L4.svg");
    transform: scale(1.4);
}

img[src="/steaminputglyphs/ps_rfn.svg"] {
    content: url("/themes_custom/SBP-PS5-to-Handheld/assets/gpd/Win3-R4.svg");
    transform: scale(1.4);
}

/* Controller Settings */
img[src="/images/steamdeck_right.png"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/win-3/Controller-right.png");
}
img[src="/images/steamdeck_left.png"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/gpd/win-3/Controller-left.png");
}